# Archivos y carpetas de IntelliJ IDEA
.idea/
*.iml

# Directorios de compilación
/out/
/target/

# Archivos de clase compilados
*.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
